{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<!-- Page Header -->
<header class="masthead"
        style="background-image: url('https://images.unsplash.com/photo-1531592937781-344ad608fabf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    {% if is_edit %}
                    <h1>프로젝트 수정</h1>
                    <span class="subheading">프로젝트 '{{ project.partner_name }}' 정보를 수정합니다</span>
                    {% else %}
                    <h1>프로젝트 생성</h1>
                    <span class="subheading">새로운 프로젝트를 생성하세요</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

        </div>
    </div>
</div>

{% include "footer.html" %}
{% endblock %}